
@{
    ViewData["Title"] = "About";
}

<!-- Start Content  -->
<div class="about-page">
    <h4>عن متجري</h4>
    <!-- goal of site -->
    <div>
        <div class="circle">
            <i class="fa fa-hand-holding-heart"></i>
        </div>

        <h3>هدف الموقع</h3>

    </div>
    <ul>
        الهدف الرئيسي لمشروعنا هو تطوير موقع على شبكة الإنترنت للمؤسسات
        <br> التي ستستخدمها للترويج لمنتجاتها ولإدارة
        المؤسسة عبر الإنترنت
        <li>تسجيل العمليات اليومية مثل (الفواتير (مبيعات - مشتريات) - عرض أسعار).</li>
        <li> القدرة على تعيين موظفين لإدارة المشروع بشكل أكثر فعالية.</li>
        <li> إطلاق متجر إلكتروني للترويج لمنتجات المؤسسة.</li>
        <li>تنمية مجتمع المؤسسة من خلال استهداف العملاء عبر الإنترنت.</li>
    </ul>
    <!-- goal of site -->
    <br>
    <!-- designer of this site -->
    <div>
        <div class="circle">
            <i class="fa fa-user-cog"></i>
        </div>
        <h3>مصممي الموقع</h3>

        <br>
        <br>
        <br>
        <section class="cards">
            <div class="single-card">
                <div class="img" style="background-image: url('img/person.jpg');"></div>
                <div class="info">
                    <div>
                        <i class="fa fa-user-tie"></i>
                        <span> خالد طاهر عبد المانع</span>
                    </div>

                    <div>
                        <i class="fa fa-street-view"></i>
                        <span> تقنية المعلومات</span>
                    </div>

                    <div>
                        <i class="fa fa-map-marker-alt"></i>
                        <span> المكلا</span>
                    </div>

                    <h6>تواصلوا معنا </h6>
                    <i>
                        <a href=""> <i class="fab fa-youtube-square"></i></a>
                        <a href=""> <i class="fab fa-twitter-square"></i></a>
                        <a href=""> <i class="fab fa-facebook-square"></i></a>
                    </i>

                </div>
            </div>
            <div class="single-card">
                <div class="img" style="background-image: url('img/person.jpg');"></div>
                <div class="info">
                    <div>
                        <i class="fa fa-user-tie"></i>
                        <span> خالد طاهر عبد المانع</span>
                    </div>

                    <div>
                        <i class="fa fa-street-view"></i>
                        <span> تقنية المعلومات</span>
                    </div>

                    <div>
                        <i class="fa fa-map-marker-alt"></i>
                        <span> المكلا</span>
                    </div>

                    <h6>تواصلوا معنا </h6>
                    <i>
                        <a href=""> <i class="fab fa-youtube-square"></i></a>
                        <a href=""> <i class="fab fa-twitter-square"></i></a>
                        <a href=""> <i class="fab fa-facebook-square"></i></a>
                    </i>

                </div>
            </div>
            <div class="single-card">
                <div class="img" style="background-image: url('img/person.jpg');"></div>
                <div class="info">
                    <div>
                        <i class="fa fa-user-tie"></i>
                        <span> خالد طاهر عبد المانع</span>
                    </div>

                    <div>
                        <i class="fa fa-street-view"></i>
                        <span> تقنية المعلومات</span>
                    </div>

                    <div>
                        <i class="fa fa-map-marker-alt"></i>
                        <span> المكلا</span>
                    </div>

                    <h6>تواصلوا معنا </h6>
                    <i>
                        <a href=""> <i class="fab fa-youtube-square"></i></a>
                        <a href=""> <i class="fab fa-twitter-square"></i></a>
                        <a href=""> <i class="fab fa-facebook-square"></i></a>
                    </i>

                </div>
            </div>
            <div class="single-card">
                <div class="img" style="background-image: url('img/person.jpg');"></div>
                <div class="info">
                    <div>
                        <i class="fa fa-user-tie"></i>
                        <span> خالد طاهر عبد المانع</span>
                    </div>

                    <div>
                        <i class="fa fa-street-view"></i>
                        <span> تقنية المعلومات</span>
                    </div>

                    <div>
                        <i class="fa fa-map-marker-alt"></i>
                        <span> المكلا</span>
                    </div>

                    <h6>تواصلوا معنا </h6>
                    <i>
                        <a href=""> <i class="fab fa-youtube-square"></i></a>
                        <a href=""> <i class="fab fa-twitter-square"></i></a>
                        <a href=""> <i class="fab fa-facebook-square"></i></a>
                    </i>

                </div>
            </div>

        </section>

    </div>

    <!-- designer of this site -->


    <br>
    <br>
    <!-- feature of site -->
    <div>
        <div class="circle">
            <i class="fa fa-star"></i>
        </div>
        <h3>مميزات الموقع</h3>
        <br>
        <div class="feature">
            <div>
                <i class="fa fa-users-cog"></i>
                <span>
                    يمكن للمدير تتبع جميع معاملات
                    المبيعات في المنشأة وإدارتها من
                    أي مكان وفي أي وقت
                </span>
            </div>
            <div>
                <i class="fa fa-users-cog"></i>
                <span>
                    يمكن للمدير تتبع جميع معاملات
                    المبيعات في المنشأة وإدارتها من
                    أي مكان وفي أي وقت
                </span>
            </div>
            <div>
                <i class="fa fa-users-cog"></i>
                <span>
                    يمكن للمدير تتبع جميع معاملات
                    المبيعات في المنشأة وإدارتها من
                    أي مكان وفي أي وقت
                </span>
            </div>
            <div>
                <i class="fa fa-users-cog"></i>
                <span>
                    يمكن للمدير تتبع جميع معاملات
                    المبيعات في المنشأة وإدارتها من
                    أي مكان وفي أي وقت
                </span>
            </div>
            <div>
                <i class="fa fa-users-cog"></i>
                <span>
                    يمكن للمدير تتبع جميع معاملات
                    المبيعات في المنشأة وإدارتها من
                    أي مكان وفي أي وقت
                </span>
            </div>

        </div>
        <!-- feature of site -->
    </div>
</div>
<!-- End Contenet -->
