@page
@model RegisterModel
@{
    Layout = "";
}

<!DOCTYPE html>
<html lang="ar">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Hassan Ali">
    <title>صفحة التسجيل</title>
    <!--CSS file-->
    <link href="~/store/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/store/css/bootstrap-rtl.css" rel="stylesheet" />
    <link href="~/store/css/all.min.css" rel="stylesheet" />
    <link href="~/store/css/main.css" rel="stylesheet" />
    <!--Google font-->
    <link rel="stylesheet" href="~/store/css/Tajawalfont.css">
</head>
<body>
    <!--Start Wrapper-->
    <div class="wrapper">
        <div class="content-of-Regster">
            <p>انشئ حسابك</p>
            <p>هل لديك حساب؟ <a asp-page="./Login">تسجيل الدخول</a></p>
            <form class="form form-of-Regster" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <div class="fild">
                    <label class="second-label" style="margin: 0px 22px;">الاسم :</label>
                    <input class="form-control second-input" type="text" asp-for="Input.UserName">
                    <span asp-validation-for="Input.UserName" class="text-danger"></span>
                </div>
                <div class="fild">
                    <label class="second-label">البريد الالكتروني :</label>
                    <input class="form-control second-input" type="email" asp-for="Input.Email">
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="fild">
                    <label class="three-label">رقم الجوال :</label>
                    <input class="form-control three-input" type="text" asp-for="Input.Phone">
                    <span asp-validation-for="Input.Phone" class="text-danger"></span>
                </div>
                <div class="fild">
                    <label class="four-label">كلمة المرور :</label>
                    <input class="form-control four-input" type="password" asp-for="Input.Password">
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <input type="submit" class="submit" value="تسجيل">
            </form>
        </div>
    </div>
    <!--End Wrapper-->
    <script src="~/store/js/jquery-3.4.1.min.js"></script>
    <script src="~/store/js/popper.min.js"></script>
    <script src="~/store/js/bootstrap.min.js"></script>
    <script src="~/store/js/main.js"></script>
</body>
</html>