@model Matjary.Models.Persons

@{
    ViewData["Title"] = "اضافة مورد";
    Layout = "~/Views/Shared/_dashboardLayout.cshtml";
}





<!--Start Page Content-->
<div class="page-content">
    <div class="container-fluid">
        <div class="page-title">
            <i class="fa fa-user-friends"></i>
            <h6>الموردين</h6>
            <i class="fa fa-angle-left"></i>
            <h6>إضافة مورد جديد</h6>
        </div>
        <div class="page-info shadow">
            <div class="title">
                <i class="fa fa-user-friends"></i>
                <h6>إضافة مورد جديد</h6>
            </div>
            <div class="content">
                <form asp-action="Create">
                    <!--Add Form Details Here-->
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group row">
                                <label class="col-md-3 col-sm-12 col-form-label">اسم المورد :</label>
                                <div class="col-md-9 col-sm-12">
                                    <input type="text" class="form-control" asp-for="Name" placeholder="ادخل اسم المورد">
                                    <span asp-validation-for="Name" class="text-danger"></span>

                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 col-sm-12 col-form-label">رقم الهاتف :</label>
                                <div class="col-md-9 col-sm-12">
                                    <input type="text" class="form-control" asp-for="Telephone" placeholder="ادخل رقم الهاتف">
                                    <span asp-validation-for="Telephone" class="text-danger"></span>

                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 col-sm-12 col-form-label">الايميل :</label>
                                <div class="col-md-9 col-sm-12">
                                    <input type="email" class="form-control" asp-for="Email" placeholder="ادخل الايميل">
                                    <span asp-validation-for="Email" class="text-danger"></span>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group row">
                                <label class="col-md-3 col-sm-12 col-form-label">عنوان المورد :</label>
                                <div class="col-md-9 col-sm-12">
                                    <input type="text" class="form-control" asp-for="Address" placeholder="ادخل عنوان المورد">
                                    <span asp-validation-for="Address" class="text-danger"></span>

                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 col-sm-12 col-form-label">رقم الجوال :</label>
                                <div class="col-md-9 col-sm-12">
                                    <input type="text" class="form-control" asp-for="Mobile" placeholder="ادخل رقم الجوال">
                                    <span asp-validation-for="Mobile" class="text-danger"></span>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group row">
                                <label class="col-sm-12 col-form-label">ملاحظات :</label>
                                <div class="col-sm-12">
                                    <textarea asp-for="Note" class="form-control" rows="5" placeholder="ادخل ملاحظات للمورد"></textarea>
                                    <span asp-validation-for="Note" class="text-danger"></span>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="submit-btn">
                        <button type="submit" class="btn"><i class="fa fa-plus"></i>اضف المورد</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--End Page Content-->

@section scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}